.navbar-page-home {
  padding: 0.5rem 2.5rem !important ;
  border-bottom: 1px solid rgb(0 0 0 / 14%);
  .left-header-home {
    .name-home {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.5;
      position: relative;
      font-family: cursive;
    }
    .logo-home {
      font-size: 15px;
      color: green;
      line-height: 3rem;
    }
    .form-inline {
      flex-wrap: nowrap;
    }
    .form-control {
      &:focus {
        box-shadow: none !important;
      }
    }
    .btn-search-home {
      background-color: #1dbf73;
      color: white;
      padding: 6px 12px;
      border-radius: 5px;
      border: 1px solid #1dbf73;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:hover {
        background-color: #25a76a;
      }
    }
  }
  .right-header-home {
    ul {
      li {
        color: #74767e;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin: 0 10px;
        a {
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          a {
            color: #1dbf73 !important;
          }
        }
        .user-item {
          display: flex;
          align-items: center;
          img {
            border-radius: 50%;
          }
          p {
            margin: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .right-header-home {
    ul {
      li {
        font-size: 13px !important;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .right-header-home {
    ul {
      .li-1 {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 719px) {
  .content-nav-home {
    display: none;
  }
  .navbar {
    .right-header-home {
      display: none !important;
    }
  }
}
@media screen and (max-width: 570px) {
  .navbar-page-home {
    flex-wrap: nowrap !important;
    .left-header-home {
      button {
        display: none !important;
      }
    }
  }
}
