.post-home {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 4rem;
  }
  .user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    .right {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      flex-direction: row;
      align-items: center;
    }
  }
  .comments {
    width: 100%;
    margin-bottom: 5rem;
    .ant-collapse {
      padding: 20px 40px;
    }
    .item {
      display: flex;
      gap: 10px;
      margin-bottom: 2rem;
      .left {
        padding-top: 10px;
        img {
          border-radius: 50%;
        }
      }
      .right {
        .top {
          .name {
            font-size: 18px;
            font-weight: 600;
            margin-right: 10px;
          }
          .time {
            font-size: 1rem;
            font-weight: 400;
            color: grey;
          }
        }
        .body {
          p {
            font-size: 16px;
            color: black;
          }
        }
        .bottom {
          span {
            font-size: 1rem;
            font-weight: 400;
            color: grey;
            cursor: pointer;
          }
        }
      }
    }
  }
}
